# 환경부가이드라인 데이터프레임 조작 및 테스트
부차적인 서비스임

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('환경부 가이드라인.xlsx')
df.head()

  Unnamed: 0 Unnamed: 1  Unnamed: 2
0         품목         구분        배출방법
1       가격표          종이     종이류로 배출
2       가구류          대형   대형폐기물로 배출
3        가발       종량제봉투  종량제 봉투로 배출
4       가습기        가전제품  폐가전제품으로 배출

In [3]:
df.columns = df.iloc[0]
df.drop(0, inplace=True)

In [4]:
df.reset_index(inplace=True)
del df['index']
df.head()

0    품목            구분                                  배출방법
0  가격표             종이                               종이류로 배출
1  가구류             대형                             대형폐기물로 배출
2   가발          종량제봉투                            종량제 봉투로 배출
3  가습기           가전제품                            폐가전제품으로 배출
4   가위   종량제봉투, 재질별분리  재질에 맞게 배출하되, 여러재질이 섞인 경우, 종량제 봉투로 배출

In [5]:
# 품목column에 공백이 포함되어 있어 사용자의 질문에서 단어를 찾기위해서는 공백제거가 필요함 
item_list = df['품목'].tolist()
item_list = [i.strip() for i in item_list]

In [6]:
df['품목'] = item_list
df['품목'].sample(5)

165    앨범
36      낫
260    칫솔
281    쿠션
77      못
Name: 품목, dtype: object

In [7]:
# 공백 제거 
df.isnull().sum()
df.dropna(inplace=True)

코드 draft

In [8]:
question = '가위는 어떻게 분리해?'

In [9]:
# 사용자가 요청한 내용이 있는 경우 

for i in range(len(df['품목'])):
  if df['품목'][i] in question:
    print(df['배출방법'][i]+'해주세요')

재질에 맞게 배출하되, 여러재질이 섞인 경우, 종량제 봉투로 배출해주세요

In [10]:
# 사용자가 요청한 내용이 없는 경우 

msg = input('제품명을 입력해주세요: ')
if msg in item_list:
  df_new = df[df['품목']== msg]
  meth = df_new['배출방법']
  method = ' ,'.join(map(str, meth))
  print(method + '합니다')
else:
  aw = input('등록되지 않은 제품입니다. 등록하시겠습니까? ')
  if aw == '네':                                        # 제품 등록, 파일 업데이트 
    f = open("update.txt", 'w')
    f.write(msg)
    f.close()
  else:
    print('서비스를 종료합니다.')

제품명을 입력해주세요: 면도기
등록되어 있지 않는 제품입니다. 등록하시겠습니까? 네

Next❓ 함수로 만들기 >> 두개 함수를 if 문으로 묶을순 없을까?