# 환경부가이드라인 데이터전처리

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

전처리 완료된 데이터

In [5]:
df = pd.read_csv('환경부가이드라인.csv')
df.head()

     품목            구분                                  배출방법
0  가격표             종이                               종이류로 배출
1  가구류             대형                             대형폐기물로 배출
2   가발          종량제봉투                            종량제 봉투로 배출
3  가습기           가전제품                            폐가전제품으로 배출
4   가위   종량제봉투, 재질별분리  재질에 맞게 배출하되, 여러재질이 섞인 경우, 종량제 봉투로 배출

In [9]:
# 품목column에 공백이 포함되어 있어 사용자의 질문에서 단어를 찾기위해서는 공백제거가 필요함 
item_list = df['품목'].tolist()
item_list = [i.strip() for i in item_list]
df['품목'] = item_list

전처리 완료된 데이터 저장

In [11]:
df.to_csv('환경부가이드라인_전처리완.csv')